<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            
        </div>
        <div class="collapse navbar-collapse">
            <a class="navbar-brand" rel="home" href=@Url.Action("Index", "Search") title="Sundar">
                <img style="width:40px; height:35px; margin-top: -7px" src="/images/Eagle.jpg"> Sundar
            </a>
            <ul class="nav navbar-nav pull-left">
                <li>
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href=@Url.Action("Index", "Search") title="Dashboard" class="btn btn-danger"> Dashboard</a>
                            
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar navbar-nav navbar-right">
                <li><a href=@Url.Action("Index","SCAR") title="SCAR" class="btn btn-danger"> SCAR</a></li>
                <li class="searchbox">
                    <input type="text" class="form-control col-md-5" placeholder="Name, Employee ID, SSN" name="searchText" id="searchText">
                    <input type="button" class="btn btn-default col-md-3" id="btnSearchId" value="Search" />

                </li>

            </ul>

        </div>
    </div>
</div>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script>

    $("#btnSearchId").click(function (e) {
        var searchText = $("#searchText").val();
        window.location.href = "/Personnal/Search/?searchText=" + searchText;
    })


    //$(".global-search-form").on("click", "button", function (e) {
    //    $.ajax({
    //        url: "/Personnal/ListSearch",
    //        method: "GET",
    //        data: { item: $("input[name='item']").val() }
    //    })
    //    .then(function (result) {
    //        $(".global-search-result").html(result);
    //    });
    //});

</script>



<script>
    @*$('#searchText').keyup(function () {
        var myURL = '@Url.Action("Search", "Personnal")';
        var x = document.getElementById("searchText");
        var searchText = x.value;
        //alert(searchText);
        alert(myURL + '?searchText=' + encodeURIComponent(searchText));
        window.location.href = myURL + '?searchText=' + encodeURIComponent(searchText);
     //   window.location.href = myURL + '?tResults=' + encodeURIComponent(searchText);
    });*@
</script>

