

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" rel="home" href=@Url.Action("Index", "Search") title="Sundar">
                <img style="width:40px; height:35px; margin-top: -7px" src="/images/Eagle.jpg"> Sundar
            </a>
        </div>
        <div class=" collapse navbar-collapse">
            <ul class="nav navbar-nav pull-left">
                <li>
                    <ul class="nav navbar-nav">
                        <li class="active">

                            <a href=@Url.Action("Index", "Search") title="Dashboard" class="btn btn-danger">Personnel Dashboard</a>
                        </li>
                    </ul>
                </li>
            </ul>

            <ul class="navbar navbar-nav navbar-right">
                <li style="margin-top:15px; margin-right:15px;">
                    Search
                </li>

                <li class="searchbox">
                    <input type="text" class="form-control col-lg-6" ng-model="searchText" id="searchText" placeholder="NAME,DODID,SSN" autocomplete="off" tabindex="1" autofocus ng-keyup="search()" style="width:100%; margin-top:10px">
                </li>
            </ul>
        </div>
    </div>
</div>

