<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>
        <div class="collapse navbar-collapse">
            <a class="navbar-brand" rel="home" href=@Url.Action("Index", "Search") title="Sundar">
                <img style="width:40px; height:35px; margin-top: -7px" src="/images/Eagle.jpg"> Sundar
            </a>
            <ul class="nav navbar-nav pull-left">
                <li>
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href=@Url.Action("Index", "Search") title="Dashboard" class="btn k-button k-grid"> Dashboard</a>

                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar navbar-nav navbar-right">
                <li><a href=@Url.Action("Index","SCAR") title="SCAR" class="k-button my-2 my-sm-0"> SCAR</a></li>
                <li class="searchbox">
                    <input type="text" class="form-control mr-sm-2" placeholder="Name, Employee ID, SSN" name="searchText" id="searchText" autocomplete="off">
                    <input type="button" class="k-button my-2 my-sm-0" id="btnSearchId" value="Search" />

                </li>

            </ul>


        </div>
    </div>
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery-autocomplete.js"></script>
<script src="~/Scripts/Kendo/kendo.all.js"></script>
<script src="~/Scripts/Kendo/kendo.web.js"></script>
<script src="~/Scripts/Kendo/kendo.aspnetmvc.min.js"></script>
<script>





    $("#searchText").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: '/Utility/GetContactInfoOds/',
                data: "{ 'searchText': '" + request.term + "'}",
                dataType: "json",
                type: "POST",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    response($.map(data, function (item) {
                        return item.DisplayName;
                    }))
                },
                error: function (response) {
                    alert(response.responseText);
                },
                failure: function (response) {
                    alert(response.responseText);
                }
            });
        },
        select: function (e, i) {
            $("#hfCustomer").val(i.item.val);
        },
        minLength: 2
    });
   


    //$("#searchtext").kendoautocomplete({

    //    datasource: {
    //        transport: {
    //            read: {
    //                url: "/utility/getcontactinfoods",
    //                    datatype: "json"
    //                }
    //            }
    //        },
    //        datatextfield: "firstname",
    //        datavaluefield: "id",
    //        filter: "contains",
    //        minlength: 2,
    //        select: function (e) {
    //            // alert();
    //            var dataitem = this.dataitem(e.item.index());
    //            var url = "/personnal/search/?searchssn" + dataitem.id;
    //            window.location.assign(url);
    //        },
    //        change: function (e) {
    //            this.value("");
    //            this.close();
    //        }
    //    }).data("kendoautocomplete").focus();

    $("#btnSearchId").click(function (e) {
        var searchText = $("#searchText").val();
        window.location.href = "/Personnal/Search/?searchText=" + searchText;

    })


    //$(".global-search-form").on("click", "button", function (e) {
    //    $.ajax({
    //        url: "/Personnal/ListSearch",
    //        method: "GET",
    //        data: { item: $("input[name='item']").val() }
    //    })
    //    .then(function (result) {
    //        $(".global-search-result").html(result);
    //    });
    //});

</script>



<script>
    @*$('#searchText').keyup(function () {
        var myURL = '@Url.Action("Search", "Personnal")';
        var x = document.getElementById("searchText");
        var searchText = x.value;
        //alert(searchText);
        alert(myURL + '?searchText=' + encodeURIComponent(searchText));
        window.location.href = myURL + '?searchText=' + encodeURIComponent(searchText);
     //   window.location.href = myURL + '?tResults=' + encodeURIComponent(searchText);
    });*@
</script>

