<nav class="navbar navbar-expand-lg navbar-dark bg-primary navbar-fixed-top">
    <a class="navbar-brand" rel="home" href=@Url.Action("Index", "Search") title="Sundar">
        <img style="width:40px; height:35px; margin-top: -7px" src="/images/Eagle.jpg"> Sundar
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href=@Url.Action("Index", "Search") title="Dashboard">Dashboard <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
           <a href="#" onclick="window.open('/Files/PDF.pdf', '_blank', 'fullscreen=yes'); return false;">PDF Nav</a>
            </li>

        </ul>
        <form class="form-inline my-2 my-lg-0">
            <a href=@Url.Action("Index","SCAR") title="SCAR" class="k-button my-2 my-sm-0"> SCAR</a>
            <input class="form-control mr-sm-2" type="text" placeholder="Search" name="searchText" id="searchText">
            <input class="k-button my-2 my-sm-0" type="button" id="btnSearchId" value="Search">
        </form>
    </div>
</nav>

<link href="~/Content/jquery-autocomplete.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery-autocomplete.js"></script>
<script src="~/Scripts/Kendo/kendo.all.js"></script>
<script src="~/Scripts/Kendo/kendo.web.js"></script>
<script src="~/Scripts/Kendo/kendo.aspnetmvc.min.js"></script>
<script>

    $("#searchText").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: '/Utility/GetContactInfoOds/',
                data: "{ 'searchText': '" + request.term + "'}",
                dataType: "json",
                type: "POST",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    response($.map(data, function (item) {
                        return { label: item.DisplayName, value: item.DisplayName, id:item.ID };
                    }))
                },
                error: function (response) {
                    alert(response.responseText);
                },
                failure: function (response) {
                    alert(response.responseText);
                }
            });
        },

        select: function (e, i) {
           // debugger;
            var id =($("#searchText").val(i.item.id));
           // console.log(iddata);
            console.log(id.val());
            var url = "/Personnal/Search/" + id.val();
           window.location.assign(url);
        },
        change: function (e) {
            $("#searchText").val("");
           
           // this.value("");
           // this.close();
        },
        minLength: 2
    });
</script>